.main .right .rightTitle {width:630px;height:25px;line-height:25px;background:#3675cc;filter:alpha(opacity=80);-moz-opacity:0.8;opacity: 0.8;}

.main .right .rightTitle h4 {float:left;color:#fff;}

.main .right .rightContent {width:628px;background:#fff;color:#666;padding:10px 0 10px 0;filter:alpha(opacity=80);-moz-opacity:0.8;opacity: 0.8;text-align:center;}
.main .right .rightContent .frame_k {float:left;width:124px;height:140px;margin:10px 15px 0 16px;position:relative;display:inline;}/*ע*/
.main .right .rightContent .frame_k .frame_k1 {margin:0 0 5px 0;}
.main .right .rightContent .frame_k .frame_k1 a {width:120px;height:90px;display:block;border:#ccc 1px solid;padding:2px;background:#fff;position:relative;}
.main .right .rightContent .frame_k .frame_k1 a:hover {width:120px;height:90px;display:block;filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;border:#f00 1px solid;background:#fff;position:relative;}
.main .right .rightContent .frame_k .frame_k2 {width:124px;height:18px;overflow:hidden;}
.main .right .rightContent .pageshow {width:570px;height:35px;text-align:center;border-top:#ddd 1px solid;line-height:35px;margin:15px;padding:15px;position:relative;color:#333;}
.main .right .rightContent .nodata {width:300px;margin:100px;padding:40px 0 40px 0;background:#f3f3f3}
.page1{border:#ccc 1px solid;width:22px;height:20px;text-align:center;cursor: pointer;background:#FBF9F9;padding-left:5px;padding-right:5px;}
.page2{border:#ccc 1px solid;width:22px;height:20px;text-align:center;background-color:#ffffcc;color:red;padding-left:5px;padding-right:5px;}

.main .right .rightTitle a {float:right;display:block;width:60px;color:#fff;position:relative;font-size:14px;font-weight:bold;font-family:"ו"}
.main .right .rightTitle a:link,a:visited,a:active {text-decoration:none;font-family:"ו"}
.main .right .rightTitle a:hover {text-decoration:underline;color:#000;font-family:"ו"}
