.main .right .rightTitle {width:630px;height:25px;line-height:25px;background:#d56d9f;filter:alpha(opacity=80);-moz-opacity:0.8;opacity: 0.8;}
.main .right .rightTitle h4 {float:left;color:#fff;}
.main .right .rightTitle a {float:right;display:block;width:60px;color:#fff;position:relative;font-size:14px;font-weight:bold;}
.main .right .rightTitle a:link,a:visited,a:active {text-decoration:none;}
.main .right .rightTitle a:hover {text-decoration:underline;color:#000;}
.main .right .rightContent {width:630px;background:#fff;filter:alpha(opacity=80);-moz-opacity:0.8;opacity: 0.8}

.main .right .rightContent .userdata {line-height:200%;padding:0px 20px 10px 20px;color:#666;font-family:"宋体";position:relative}
p{color:#666}
.main .right .rightContent .userdata .diaryTitle{color:#333;font-size:14px;font-weight:bold;font-family:"宋体";padding-top:10px}
/****增加***/
.main .right .rightContent .userdata .diaryContent{width:588px;TABLE-LAYOUT:fixed;WORD-BREAK:break-all;overflow:hidden}

.main .right .rightContent .userdata .diaryHf{font-size:14px;font-family:"宋体";text-align:right}
/***display:inline****/
.main .right .rightContent .userdata .diaryList{float:left;width:287px;height:28px;font-family:"宋体";overflow:hidden;margin:0 5px 0 0;position:relative;display:inline}
.main .right .rightContent .userdata .diaryList a{text-decoration:underline}

.main .right .rightContent .userdata .datingTitle{color:#333;font-size:14px;font-weight:bold;font-family:"宋体";padding-top:10px}
.main .right .rightContent .userdata .datingContent{float:left;width:590px;position:relative}
/*****增加**/
.main .right .rightContent .userdata .datingList{float:left;width:287px;height:28px;font-family:"宋体";overflow:hidden;margin:0 5px 0 0;position:relative}



.main .right .rightContent .photoLeft{float:left;width:65px;height:85px;CURSOR: pointer;text-align:center;padding:50px 0 0 0;position:relative;}
.main .right .rightContent .photoLeft a{filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;display:block;position: relative;width:30;height:40px;}
.main .right .rightContent .photoLeft a:hover {position: relative;top: 1px;display:block;filter:alpha(opacity=100);-moz-opacity:1;opacity:1;}
.main .right .rightContent .photoCenter{float:left;width:500px;height:135px;position:relative;}
.main .right .rightContent .photoCenter ul{margin:5px 0 0 0;}
.main .right .rightContent .photoCenter li{float:left;margin:10px;display:inline;}

.main .right .rightContent .photoCenter li .pbox{text-align:center;display:table-cell;vertical-align:middle;position:relative;}
.main .right .rightContent .photoCenter li .pbox img{margin-top:expression((100-this.height)/2)}

.main .right .rightContent .photoCenter li .pbox a{width:100px;height:100px;padding:2px;border:#ddd 1px solid;background:#fff;display:block;}
.main .right .rightContent .photoCenter li .pbox a:hover{width:100px;height:100px;padding:2px;border:#f00 1px solid;background:#fff;display:block;filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;}

.main .right .rightContent .photoRight{float:left;width:65px;CURSOR: pointer;text-align:center;padding-top:50px;position:relative;}
.main .right .rightContent .photoRight a{filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;display:block;position: relative;width:30;height:40px;}
.main .right .rightContent .photoRight a:hover {position: relative;top: 1px;display:block;filter:alpha(opacity=100);-moz-opacity:1;opacity:1;}
.main .right .rightContent2 {width:630px;height:230px;background:#fff;filter:alpha(opacity=80);-moz-opacity:0.8;opacity: 0.8;padding:10px 0 0 0}
.main .right .rightContent2 .userdataL {float:left;width:312px;height:230px;}
.main .right .rightContent2 .userdataR {float:left;width:312px;height:230px;}
.userdataL_l{float:left;width:85px;height:28px;line-height:28px;color:#666;position:relative;text-align:right;}
.userdataL_r{float:left;width:215px;height:28px;line-height:28px;color:#E54375;position:relative;}
.main .right .wspace{width:630px;height:10px;font-size:10px;overflow:hidden;}