.main .right .rightTitle {width:630px;height:25px;line-height:25px;background:#d56d9f;filter:alpha(opacity=80);-moz-opacity:0.8;opacity: 0.8}
.main .right .rightTitle h4 {float:left;color:#fff}
.main .right .rightContent {width:624px;height:228px;background:#fff;color:#666;padding:15px 3px 10px 3px;;filter:alpha(opacity=80);-moz-opacity:0.8;opacity: 0.8;text-align:center}

.main .right .rightContent .frame_k {float:left;width:160px;height:211px;margin:10px 20px 5px 25px;display:inline;text-align:center;border:#ddd 1px solid;text-align:center;background:#fff;}
.main .right .rightContent .frame_k .frame_k1 {width:160px;height:42px;line-height:150%;overflow:hidden;border-bottom:#ddd 1px solid;background:#fff;margin-bottom:4px;padding-top:8px;color:#666;}
.main .right .rightContent .frame_k .frame_k2 {width:152px;height:152px;text-align:center;overflow:hidden;}
.main .right .rightContent .frame_k .frame_k2 img{height: 150px !important;width: auto !important;}
.main .right .rightContent .frame_k .frame_k2 a {width:150px;height:150px;display:block;border:#ddd 1px solid;background:#fff;position:relative;overflow:hidden;}
.main .right .rightContent .frame_k .frame_k2 a:hover {width:150px;height:150px;display:block;filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;border:#f00 1px solid;background:#fff;position:relative;}

.main .right .rightContent .pageshow {width:560px;height:35px;text-align:center;border-top:#ddd 1px solid;line-height:35px;margin:0 15px 15px 15px;padding:15px;position:relative;color:#333;}
.main .right .rightContent .nodata {width:300px;margin:100px;padding:40px 0 40px 0;background:#fff;position:relative;}
.page1{border:#ccc 1px solid;width:22px;height:20px;text-align:center;cursor: pointer;background:#FBF9F9;padding-left:5px;padding-right:5px;}
.page2{border:#ccc 1px solid;width:22px;height:20px;text-align:center;background-color:#ffffcc;color:red;padding-left:5px;padding-right:5px;}
A:link {text-decoration: none;color:#333; font-family:Arial,ו}
A:visited {text-decoration: none;color:#333; font-family:Arial,ו}
A:active {text-decoration: none;color:#333; font-family:Arial,ו}
A:hover {color:#DF2C91;text-decoration:underline} 