.main .right .rightTitle {width:628px;height:24px;line-height:24px;background:#000;border:#666 1px solid;position:relative}

.main .right .rightTitle h4 {float:left;color:#666}
.main .right .rightTitle a {float:right;display:block;width:86px;color:#CCA300;position:relative;font-size:14px;font-weight:bold}
.main .right .rightTitle a:link,a:visited,a:active {text-decoration:none}
.main .right .rightTitle a:hover {text-decoration:underline;color:#fc0}
.main .right .rightContent {width:628px;background:#000;color:#666;padding:15px 0px 30px 0px;text-align:center;border-left:#666 1px solid;border-right:#666 1px solid;border-bottom:#666 1px solid;position:relative}
.main .right .rightContent .pageshow {width:560px;height:35px;text-align:center;border-top:#333 1px solid;line-height:35px;margin:0 15px 15px 15px;padding:15px;position:relative;color:#333}
.main .right .rightContent .nodata {width:300px;margin:100px;padding:40px 0 40px 0;background:#111;position:relative}
.main .right .rightContent .Tdataline{width:600px;height:30px;line-height:30px;text-align:center;border-bottom:#333 1px solid;position:relative;margin:0px auto;}
.main .right .rightContent .Tdataline .Tdataline1{float:left;width:260px;letter-spacing:5px}
.main .right .rightContent .Tdataline .Tdataline2{float:left;width:140px}
.main .right .rightContent .Tdataline .Tdataline3{float:left;width:60px}
.main .right .rightContent .Tdataline .Tdataline4{float:left;width:60px}
.main .right .rightContent .Tdataline .Tdataline5{float:left;width:80px}

.main .right .rightContent .dataline{width:600px;height:60px;border-bottom:#333 1px solid;position:relative;margin:0px auto;}
.main .right .rightContent .dataline .dataline1{float:left;width:260px;height:40px;padding:20px 0 0 0;text-align:left;font-size:14px}
.main .right .rightContent .dataline .dataline2{float:left;width:140px;height:48px;line-height:18px;padding-top:12px}
.main .right .rightContent .dataline .dataline3{float:left;width:60px;line-height:60px}
.main .right .rightContent .dataline .dataline4{float:left;width:60px;line-height:60px}
.main .right .rightContent .dataline .dataline5{float:left;width:80px;line-height:60px}
.main .right .rightContent .dataline .dataline1 img{margin:0 5px 0 5px}
.main .right .rightContent .dataline .dataline1 a {text-decoration:underline;color:#999}
.main .right .rightContent .dataline .dataline1 a:hover {text-decoration:underline;color:#fc0}

.timestyle {color:#f00;font-size:12px;font-weight:bold}
.outtime {color:#CCA300}
