.main .right .rightTitle {width:628px;height:24px;line-height:24px;background:#000;border:#666 1px solid;position:relative}

.main .right .rightTitle h4 {float:left;color:#666;}
.main .right .rightContent {width:622px;background:#000;color:#666;padding:15px 3px 10px 3px;text-align:center;border-left:#666 1px solid;border-right:#666 1px solid;position:relative}

.main .right .rightContent .frame_k {float:left;width:106px;height:146px;margin:10px 24px 5px 25px;position:relative;display:inline}
.main .right .rightContent .frame_k .frame_k1 {vertical-align:middle;}
.main .right .rightContent .frame_k .frame_k1 img{margin-top:expression((100-this.height)/2)}
.main .right .rightContent .frame_k .frame_k1 a {width:100px;height:100px;display:block;border:#333 1px solid;padding:2px;background:#000;position:relative}
.main .right .rightContent .frame_k .frame_k1 a:hover {width:100px;height:100px;display:block;filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;border:#fc0 1px solid;background:#000;position:relative;}
.main .right .rightContent .frame_k .frame_k2 {width:100px;height:18px;overflow:hidden;}
.main .right .rightContent .pageshow {width:560px;height:35px;text-align:center;border-top:#333 1px solid;line-height:35px;margin:0 15px 15px 15px;padding:15px;position:relative;color:#666;}
.main .right .rightContent .nodata {width:300px;margin:100px;padding:40px 0 40px 0;background:#111;position:relative;}
.page1{border:#ccc 1px solid;width:22px;height:20px;text-align:center;cursor: pointer;background:#FBF9F9;padding-left:5px;padding-right:5px;}
.page2{border:#ccc 1px solid;width:22px;height:20px;text-align:center;background-color:#ffffcc;color:red;padding-left:5px;padding-right:5px;}
A:link {text-decoration: none;color:#333; font-family:Arial,ו}
A:visited {text-decoration: none;color:#333; font-family:Arial,ו}
A:active {text-decoration: none;color:#333; font-family:Arial,ו}
A:hover {color:#fc0;text-decoration:underline} 
