.main .right .rightTitle {width:628px;height:24px;line-height:24px;background:#000;border:#666 1px solid;position:relative}
.main .right .rightTitle h4 {float:left;color:#666;}
.main .right .rightContent {width:628px;background:#000;color:#666;padding:10px 0 10px 0;border-left:#666 1px solid;border-right:#666 1px solid;position:relative}

.main .right .rightContent .frame_k {float:left;width:126px;height:140px;margin:10px 15px 0 16px;position:relative;display:inline}/*ע*/
.main .right .rightContent .frame_k .frame_k1 {margin:0 0 5px 0;}
.main .right .rightContent .frame_k .frame_k1 a {width:120px;height:90px;display:block;border:#333 1px solid;padding:2px;background:#000;position:relative;}
.main .right .rightContent .frame_k .frame_k1 a:hover {width:120px;height:90px;display:block;filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;border:#fc0 1px solid;background:#000;position:relative;}
.main .right .rightContent .frame_k .frame_k2 {width:124px;height:18px;overflow:hidden;}

.main .right .rightContent .pageshow {width:568px;height:35px;text-align:center;border-top:#333 1px solid;line-height:35px;margin:15px;padding:15px;position:relative;color:#666;}
.main .right .rightContent .nodata {width:300px;margin:100px 100px 100px 150px;padding:40px 0 40px 0;background:#111;position:relative;text-align:center}
.main .right .rightTitle a {float:right;display:block;width:60px;color:#666;position:relative;font-size:14px;font-weight:bold;font-family:"ו"}
.main .right .rightTitle a:link,a:visited,a:active {text-decoration:none;font-family:"ו"}
.main .right .rightTitle a:hover {text-decoration:underline;color:#000;font-family:"ו"}
