body{font-family:宋体;font-size:9pt;color:#333333;
SCROLLBAR-FACE-COLOR: #E1E1E1;/*拖条色*/
SCROLLBAR-TRACK-COLOR: #F2F2F2;/*拖条背景*/
SCROLLBAR-HIGHLIGHT-COLOR: #E1E1E1;/*拖条左上框色*/
SCROLLBAR-3DLIGHT-COLOR: #E1E1E1;/*阴影(左上)*/
SCROLLBAR-SHADOW-COLOR: #E1E1E1;/*拖条右下框色*/
SCROLLBAR-DARKSHADOW-COLOR: #878787;/*阴影(右下)*/
SCROLLBAR-ARROW-COLOR: #ffffff;/*小三角*/
}